body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
  }
  nav{
    flex: 1;
    text-align: right; 
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }
  a{
    text-decoration: none;
       color: #555;
  }
  p{
   color: black;
  }
.container
{
    max-width: 1500px  ;
    margin: auto; 
    margin-left: 10px;
    margin-right: 30px;   
}
.row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-left: 30px;
     margin-right: 0px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 80%;
    padding: 100px 20px;
}
.col-2 h1{
    font-size: 40px;
    line-height: 50px;
    margin: 15px  0;
} 
.contact ul li{
    display: inline-block;
    list-style-type: none;
}
.header{
    background: radial-gradient(#ffd6d6,#fff);
}
.header .row{
    margin-top: 20px;
}
